{{message}}

<div class="blog-section">
    <div class="blog-post">
        <div 
            style="background-image: url('{{post.headerImg}}'); background-position: top center; background-size: auto;"
            class="post-header">

        </div>
        <div class="post-content">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="post-author">
                by: {{post.author}}<br>
                Upvotes: {{post.upvotes}}
            </p>
            {{post.content}}
        </div>
        <div class="post-footer">
            <div class="post-buttons">
                <form method="post" action="/blog/{{post.id}}?_method=delete">
                    <button class="btn" type="submit">Delete</button>
                </form>
                <form method="get" action="/blog/update/{{post.id}}">
                    <button class="btn" type="submit">Update</button>
                </form>
                <form method="post" action="/blog/upvote/{{post.id}}?_method=put">
                    <button class="btn" type="submit">Upvote</button>
                </form>
            </div>
        </div>
    </div>
</div>