{{message}}

<div class="blog-section">
    <div class="blog-post">
        <div 
            style="background: url('{{post.headerImg}}');"
            class="post-header">

        </div>
        <div class="post-content">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="post-author">by: {{post.author}}</p>
            {{post.content}}
        </div>
        <div class="post-footer">
            <div class="delete-post">
                <form method="post" action="/blog/{{post.id}}?_method=delete">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>