{{message}}
<div class="blog-section">
    {{#each posts}}
        <div class="blog-post">
            <a href="/blog/{{this.id}}">
            <div 
                style="background: url('{{headerImg}}');"
                class="post-header">
            </div>
            <div class="post-content">
                <h3 class="post-title">{{title}}</h3>
                <p class="post-author">by: {{author}}</p>
                {{content}}
            </div>
            </a>
        </div>
    {{/each}}
</div>