{{message}}
<div class="blog-section">
    {{#each posts}}
        <div class="blog-post">
            <a href="/blog/{{this.id}}">
            <div 
                style="background-image: url('{{headerImg}}'); background-position: top center; background-size: auto;"
                class="post-header">
            </div>
            <div class="post-content">
                <h3 class="post-title">{{title}}</h3>
                <p class="post-author">
                    by: {{author}}<br>
                    Upvotes: {{upvotes}}
                </p>
                {{content}}
            </div>
            </a>
        </div>
    {{/each}}
</div>