<header>
    <h1 class="header-text">Micro Stories</h1>
        <h3 class="header-subtext">- Feast your eyes -</h3>

    <div class="welcome-buttons">
        <form class="form-home" action="/register" method="get">
            <button class="btn-home" type="submit">Register</button>
        </form>
        <form class="form-home" action="/login" method="get">
            <button class="btn-home" type="submit">Login</button>
        </form>
    </div>
</header>

<div class="intro-section">

    <div class="intro-text">
        <p>
            The idea behind this site is to showcase short, informal pieces of literature that
            are based on an image that inspires the author. Unsplash has some amazing images, 
            and they're free to use online, so we're focusing on using those.
        </p>
        <div class="home-icons">
            <div class="read-icon">
                <i class="fas fa-book-open"><br><span class="icon-text">Read</span></i>
            </div>
            <div class="write-icon">
                <i class="fas fa-pencil-alt"><br><span class="icon-text">Write</span></i>
            </div>
            <div class="upvote-icon">
                <i class="fas fa-hand-point-up"><br><span class="icon-text">Upvote</span></i>
            </div>
        </div>
        <p>
            Feel free to read, write or both. Upvote the pieces you like best, 
            and pass us along to your friends and help us grow.
        </p>
        <p>Short fiction, poetry, whatever...all are welcome.</p>
        <p>
            Grab an unsplash image you like and get inspired!
        </p>
    </div>

</div>

<div class="intro-section">
    <h2>Latest Story</h2>
</div>

<div class="blog-section home-post">
    <div class="blog-post">
        <div 
            style="background-image: url('{{post.headerImg}}'); background-position: top center; background-size: auto;"
            class="post-header">

        </div>
        <div class="post-content">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="post-author">
                by: {{post.author}}<br>
                Upvotes: {{post.upvotes}}
            </p>
            {{post.content}}
        </div>
        <div class="post-footer">
            <div class="post-buttons">
                {{#if userMatch}}
                <form method="post" action="/blog/{{post.id}}?_method=delete">
                    <button class="btn btn-story" type="submit">Delete</button>
                </form>
                <form method="get" action="/blog/update/{{post.id}}">
                    <button class="btn btn-story" type="submit">Update</button>
                </form>
                {{/if}}
                <form method="post" action="/blog/upvote/{{post.id}}?_method=put">
                    <button class="btn btn-story" type="submit">Upvote</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="read-more">
    <form class="form-home" action="/blog" method="get">
        <button class="btn-home btn-read-more" type="submit">Read More</button>
    </form>
</div>